.about-section{
min-height:80vh;
background: radial-gradient(circle at top,#030f20,#020617);
color:white;
padding:70px 8%;
}

/* CONTAINER */

.about-container{
display:grid;
grid-template-columns:1fr 1fr;
gap:60px;
align-items:center;
}

/* TITLE */

.about-text h2{
font-size:48px;
font-weight:800;
margin-bottom:10px;
}

.about-text span{
color:#ff8b0b;
}

/* LINE */

.line{
width:clamp(80px, 15vw, 140px); /* responsive width */
height:3px;
margin:15px 0 30px 0;
display:block;

background: linear-gradient(
to right,
rgba(255,139,11,0) 0%,
rgba(255,139,11,1) 50%,
rgba(255,139,11,0) 100%
);
}

/* Ensure it stays left on small screens */
.about-text{
text-align:left;
}

/* TEXT */

.about-text p{
color:#94a3b8;
line-height:1.8;
margin-bottom:20px;
font-size:16px;
}

/* CARDS GRID */

.about-cards{
display:grid;
grid-template-columns:repeat(auto-fit, minmax(220px, 220px));
gap:25px;
justify-content:start;
}

/* CARD */

.card{
background:rgba(255,255,255,0.03);
padding:30px;
border-radius:14px;
border:1px solid rgba(255,255,255,0.05);
transition:0.3s;
}

/* ICON */

.icon{
width:50px;
height:50px;
background:rgba(255,139,11,0.1);
display:flex;
align-items:center;
justify-content:center;
border-radius:10px;
margin-bottom:15px;
}

.icon i{
font-size:22px;
color:#ff8b0b;
}

/* TITLE */

.card h3{
font-size:18px;
margin-bottom:5px;
}

/* DESC */

.card p{
font-size:14px;
color:#94a3b8;
}

/* HOVER EFFECT */

.card:hover{
transform:translateY(-6px);
box-shadow:0 10px 30px rgba(170, 134, 16, 0.4);
border-color:#ff8b0b;
}

/* RESPONSIVE */

@media(max-width:900px){

.about-container{
grid-template-columns:1fr;
}

.about-text{
text-align:left;
}

.line{
margin:auto;
margin-bottom:30px;
}

/* CARDS 2 PER ROW */

.about-cards{
grid-template-columns:1fr 1fr;
gap:20px;
}

}


/* ================= 1024px (Small Laptop) ================= */

@media (max-width:1024px){

.about-section{
padding:60px 6%;
}

.about-text h2{
font-size:40px;
}

.about-container{
gap:40px;
}

}


/* ================= 768px (Tablet) ================= */

@media (max-width:768px){

.about-container{
grid-template-columns:1fr;
gap:40px;
}

.about-text h2{
font-size:34px;
}

.about-text p{
font-size:15px;
}

.about-cards{
grid-template-columns:1fr 1fr;
gap:18px;
}

.card{
padding:22px;
}

}


/* ================= 480px (Mobile) ================= */

@media (max-width:480px){

.about-section{
padding:50px 20px;
}

.about-text h2{
font-size:28px;
  /* text-align: left; */

}

.about-text p{
font-size:14px;
line-height:1.6;
}

.about-cards{
justify-content: center;
}

.card{
padding:20px;
}

.icon{
width:40px;
height:40px;
}

.about-text{
text-align:left;
}

.line{
margin-left:0;
}

}