<section class="experience-section">

  <h2 class="title">Work <span>Experience</span></h2>

  <div class="timeline">

    <div class="experience-container" *ngFor="let exp of experiences">

      <!-- Left Timeline -->
      <div class="timeline-left">
        <div class="timeline-dot"></div>
        <div class="timeline-line"></div>
      </div>

      <!-- Card -->
      <div class="experience-card">

        <div class="header">
          <h3>{{exp.role}}</h3>
          <span class="badge">{{exp.type}}</span>
        </div>

        <p class="company">{{exp.company}}</p>

        <ul>
          <li *ngFor="let item of exp.responsibilities">
            ✔ {{item}}
          </li>
        </ul>

      </div>

    </div>

  </div>

</section>