<nav class="navbar">

  <div class="logo">
    <span class="k">K</span>umud
  </div>

  <ul class="nav-links" [class.show]="isMenuOpen">

    <!-- MOBILE HEADER -->
    
<li><a href="#home" (click)="closeMenu()">Home</a></li>
<li><a href="#about" (click)="closeMenu()">About</a></li>
<li><a href="#skills" (click)="closeMenu()">Skills</a></li>
<li><a href="#experience" (click)="closeMenu()">Experience</a></li>
<li><a href="#projects" (click)="closeMenu()">Projects</a></li>
<li><a href="#services" (click)="closeMenu()">Services</a></li>
<li><a href="#contact" (click)="closeMenu()">Contact</a></li>

  </ul>

  <div class="menu-toggle" (click)="toggleMenu()">
    ☰
  </div>

</nav>