<section class="hero">

  <div class="hero-container">

    <!-- LEFT CONTENT -->
    <div class="hero-text">

      <div class="badge">
        ✨ Available for opportunities
      </div>

      <h1>
        Hi, I'm <span>Kumud Patil</span>
      </h1>

      <h2>Java Full Stack Developer</h2>

      <p class="location">📍 Pune, India</p>

      <p class="description">
        I craft scalable web applications with Java, Spring Boot, Angular &
        MySQL. Focused on clean architecture, robust APIs, and pixel-perfect
        interfaces.
      </p>

      <div class="buttons">
        <button class="primary" (click)="scrollProjects()">View Projects</button>
        <button class="outline" (click)="scrollContact()">Contact Me</button>
      </div>

      <div class="resume-buttons">
        <button class="resume" (click)="viewResume()">👁 View Resume</button>
        <a href="assets/resume.pdf" download>
  <button class="resume">⬇ Download Resume</button>
</a>
      </div>

    </div>

    <!-- RIGHT IMAGE -->
    <div class="hero-image">

      <div class="circle">
        <img src="assets\developer-avatar.png" alt="developer">
      </div>

      <div class="icon coffee">☕</div>
      <div class="icon rocket">🚀</div>

    </div>

  </div>

</section>